    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8Y_CMRV92vSzRkCM7Jv-d-f-oHAJhDYk"></script>
        <script type="text/javascript" src="/public/js/quagga.js"></script>
        <script type="text/javascript" src="/public/js/slider.js"></script>
        <script type="text/javascript" src="/public/js/scripts.js"></script>
         
    </body>
</html>